body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin: 0;
    height: 100%;
    padding: 0;
    width: 100%;
}  

#header {
    display: flex;
    justify-content: center;
    height: 100px;
    width: 100%;
    /* If you want some space above the logo, adjust this value. */
    padding-top: 0;
    align-items: center;
    background: #10110A;
}

#logo {
    /* Adjust the height as per your logo's aspect ratio */
    height: 100px; 
    position: absolute;
    left: 0; /* Aligning with the grid container based on your grid's setup */
}

#theme {
    /* Adjust the height as per your logo's aspect ratio */
    height: 50px; 
    position: absolute;
    right: 10px;
    background: #ffffff;
    cursor: pointer;
}

#container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-top: 20px;
    width: 100%;
}

#grid-container {
    display: grid;
    position: relative;
    grid-template-columns: repeat(25, 30px);
    grid-template-rows: repeat(25, 30px);
}

.square {
    width: 30px;
    height: 30px;
    border: 1px solid #000;
    cursor: pointer;
    position: relative;
    box-sizing: border-box;
}

.picture {
    width: 90px;
    height: 90px;
    position: absolute;
    cursor: pointer;
}

.image-button-container-troops {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
    flex-wrap: wrap;
    max-height: calc(125px * 6);
    width: 375px;			
}

.image-button-container-tools {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
}


.image-button {
    padding: 5px;
    cursor: pointer;
    margin: 0 0 10px 10px;
    border: 1px solid transparent;

}

body.theme-toggled .image-button {
    background: #322f52;
}

body.theme-toggled .image-button.selected {
    border-color: rgb(255, 255, 255);
}

.image-button.selected {
    border-color: black;
}

.image-button:not(.selected) {
    border-color: transparent;
}

.styled-select {
    overflow: hidden;
    width: 100px;
    border: 1px solid #ccc;
    background: #fff;
    margin-bottom: 10px;
    margin-left: 10px;
    position: relative;
}

.styled-select select {
    background: transparent;
    width: 100%;
    padding: 5px;
    font-size: 16px;
    border: none;
    outline: none;
    appearance: none;
}

.styled-select:after {
    content: '\25BC';
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    pointer-events: none;
}